.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.black {
    background: black;
}

.box-container {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}